n8n/workflows/pedago/seve-pedago-exercise-review.workflow.json
{
  "name": "SEVE - PEDAGO - Exercise Review",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seve/pedago/exercise-review",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_Exercise_Review_In",
      "name": "Webhook Exercise Review In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst type = (body.type ?? '').toString().toLowerCase();\n\nif (type !== 'exercise_submission') {\n  return [{\n    json: {\n      approved: false,\n      status: 'rejected',\n      score: 0,\n      coachReply: 'Type d\\'evenement non supporte pour cette revue.',\n      provider: 'n8n-pedago-groq',\n      issues: [`expected exercise_submission, received ${type || 'unknown'}`],\n      recommendations: ['Utiliser le webhook pedago dedie a la revue d exercice.'],\n      receivedAt: new Date().toISOString()\n    }\n  }];\n}\n\nconst assets = Array.isArray(body.assets)\n  ? body.assets.filter((asset) => asset && typeof asset.url === 'string')\n  : Array.isArray(body.assetUrls)\n    ? body.assetUrls.filter((url) => typeof url === 'string').map((url, index) => ({ id: `asset-${index + 1}`, url }))\n    : typeof body.assetUrl === 'string' && body.assetUrl\n      ? [{ id: 'asset-1', url: body.assetUrl }]\n      : [];\n\nconst expectedAssetCount = Math.max(1, Number(body.expectedAssetCount ?? 1) || 1);\n\nreturn [{\n  json: {\n    ...body,\n    type,\n    assets,\n    assetCount: assets.length,\n    expectedAssetCount,\n    evaluationChecklist: Array.isArray(body.evaluationChecklist) ? body.evaluationChecklist : [],\n    rejectionHints: Array.isArray(body.rejectionHints) ? body.rejectionHints : [],\n    evaluationPrompt: String(body.evaluationPrompt ?? '').trim(),\n    evaluationObjective: String(body.evaluationObjective ?? '').trim(),\n    receivedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "Code_Normalize_Exercise_Payload",
      "name": "Normalize Exercise Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const moduleId = String($json.moduleId ?? '').trim();\nconst checklist = Array.isArray($json.evaluationChecklist) ? $json.evaluationChecklist : [];\nconst hints = Array.isArray($json.rejectionHints) ? $json.rejectionHints : [];\nconst assets = Array.isArray($json.assets) ? $json.assets : [];\nconst expectedAssetCount = Math.max(1, Number($json.expectedAssetCount ?? 1) || 1);\nconst missingEvidence = assets.length < expectedAssetCount;\n\nif (missingEvidence) {\n  return [{\n    json: {\n      approved: false,\n      status: 'needs_revision',\n      score: 20,\n      coachReply: `Preuves insuffisantes pour corriger le module ${moduleId || 'inconnu'}.`,\n      provider: 'n8n-pedago-precheck',\n      issues: [`Preuves visuelles insuffisantes: ${assets.length}/${expectedAssetCount}.`],\n      recommendations: [\n        `Ajoutez ${expectedAssetCount - assets.length} image(s) supplementaire(s) avant nouvelle analyse.`,\n        ...(hints.slice(0, 2))\n      ],\n      receivedAt: $json.receivedAt,\n      moduleId,\n      assetCount: assets.length,\n      expectedAssetCount,\n      skippedGroq: true\n    }\n  }];\n}\n\nconst model = String(process.env.GROQ_VISION_MODEL || 'meta-llama/llama-4-scout-17b-16e-instruct').trim();\nconst schema = {\n  type: 'object',\n  additionalProperties: false,\n  required: ['approved', 'status', 'score', 'coachReply', 'issues', 'recommendations'],\n  properties: {\n    approved: { type: 'boolean' },\n    status: { type: 'string', enum: ['approved', 'needs_revision', 'rejected', 'error'] },\n    score: { type: 'number', minimum: 0, maximum: 100 },\n    coachReply: { type: 'string' },\n    issues: {\n      type: 'array',\n      items: { type: 'string' },\n      maxItems: 5\n    },\n    recommendations: {\n      type: 'array',\n      items: { type: 'string' },\n      maxItems: 5\n    }\n  }\n};\n\nconst userText = [\n  `Module: ${moduleId || 'unknown'}`,\n  `Objectif: ${String($json.evaluationObjective || 'Evaluer la soumission selon la consigne.')}`,\n  `Prompt de correction: ${String($json.evaluationPrompt || '')}`,\n  `Nombre d'images attendues: ${expectedAssetCount}`,\n  `Nombre d'images recues: ${assets.length}`,\n  checklist.length ? `Checklist: ${checklist.map((item, index) => `${index + 1}. ${item}`).join(' | ')}` : '',\n  hints.length ? `Pistes de refus/action: ${hints.join(' | ')}` : '',\n  'Analyse toutes les images ensemble. Ne valide que si la consigne pedagogique est visiblement respectee. Sois strict, concret, et actionnable.'\n].filter(Boolean).join('\\n');\n\nconst input = [\n  {\n    role: 'user',\n    content: [\n      { type: 'input_text', text: userText },\n      ...assets.map((asset) => ({ type: 'input_image', image_url: asset.url }))\n    ]\n  }\n];\n\nreturn [{\n  json: {\n    ...$json,\n    groqModel: model,\n    groqRequestBody: {\n      model,\n      temperature: 0.2,\n      max_output_tokens: 700,\n      instructions: 'Tu es un maitre pedagogique photo. Tu corriges un exercice a partir d images et tu dois retourner uniquement un JSON conforme au schema fourni. Refuse les validations molles. Si la preuve est incomplete ou ambiguë, mets approved=false.',\n      input,\n      text: {\n        format: {\n          type: 'json_schema',\n          name: 'exercise_review',\n          schema\n        }\n      }\n    }\n  }\n}];"
      },
      "id": "Code_Build_Groq_Request",
      "name": "Build Groq Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.skippedGroq) {\n  return [{ json: $json }];\n}\n\nconst apiKey = String(process.env.GROQ_API_KEY || '').trim();\nif (!apiKey) {\n  return [{\n    json: {\n      approved: false,\n      status: 'error',\n      score: 0,\n      coachReply: 'GROQ_API_KEY absent sur l instance n8n pedagogique.',\n      provider: 'n8n-pedago-groq',\n      issues: ['Missing GROQ_API_KEY environment variable.'],\n      recommendations: ['Ajouter GROQ_API_KEY dans les variables d environnement du service pedago.'],\n      receivedAt: $json.receivedAt,\n      groqModel: $json.groqModel,\n      skippedGroq: true\n    }\n  }];\n}\n\nconst timeoutMs = Math.max(5000, Number(process.env.GROQ_TIMEOUT_MS || 45000) || 45000);\nconst response = await fetch('https://api.groq.com/openai/v1/responses', {\n  method: 'POST',\n  headers: {\n    'content-type': 'application/json',\n    authorization: `Bearer ${apiKey}`\n  },\n  body: JSON.stringify($json.groqRequestBody),\n  signal: AbortSignal.timeout(timeoutMs)\n});\n\nconst rawText = await response.text();\nlet parsed;\ntry {\n  parsed = rawText ? JSON.parse(rawText) : {};\n} catch {\n  parsed = { rawText };\n}\n\nif (!response.ok) {\n  return [{\n    json: {\n      approved: false,\n      status: 'error',\n      score: 0,\n      coachReply: `Groq a repondu ${response.status}.`,\n      provider: 'n8n-pedago-groq',\n      issues: [`Groq HTTP ${response.status}`],\n      recommendations: ['Verifier la cle API, le quota, et la compatibilite du modele vision.'],\n      receivedAt: $json.receivedAt,\n      groqModel: $json.groqModel,\n      groqRaw: parsed\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...$json,\n    groqRaw: parsed\n  }\n}];"
      },
      "id": "Code_Call_Groq_Vision",
      "name": "Call Groq Vision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.skippedGroq || !$json.groqRaw) {\n  return [{ json: $json }];\n}\n\nconst raw = $json.groqRaw;\nconst outputText = typeof raw.output_text === 'string'\n  ? raw.output_text\n  : Array.isArray(raw.output)\n    ? raw.output\n        .flatMap((entry) => Array.isArray(entry.content) ? entry.content : [])\n        .map((entry) => entry?.text || entry?.output_text || '')\n        .filter(Boolean)\n        .join('\\n')\n    : '';\n\nlet review = null;\ntry {\n  review = outputText ? JSON.parse(outputText) : null;\n} catch {\n  const match = outputText.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try {\n      review = JSON.parse(match[0]);\n    } catch {\n      review = null;\n    }\n  }\n}\n\nif (!review || typeof review !== 'object') {\n  return [{\n    json: {\n      approved: false,\n      status: 'error',\n      score: 0,\n      coachReply: 'Reponse Groq invalide ou non parsable.',\n      provider: 'n8n-pedago-groq',\n      issues: ['Invalid JSON returned by Groq.'],\n      recommendations: ['Verifier le prompt, le schema JSON et les logs d execution n8n.'],\n      receivedAt: $json.receivedAt,\n      groqModel: $json.groqModel,\n      groqRaw: raw\n    }\n  }];\n}\n\nconst approved = review.approved === true;\nconst status = ['approved', 'needs_revision', 'rejected', 'error'].includes(String(review.status))\n  ? String(review.status)\n  : (approved ? 'approved' : 'needs_revision');\nconst scoreValue = Number(review.score);\nconst score = Number.isFinite(scoreValue) ? Math.max(0, Math.min(100, scoreValue)) : (approved ? 80 : 35);\nconst coachReply = String(review.coachReply || '').trim() || (approved\n  ? 'Exercice valide. Le module suivant peut etre debloque.'\n  : 'Exercice recu, mais des ajustements sont necessaires.');\nconst issues = Array.isArray(review.issues) ? review.issues.filter((item) => typeof item === 'string').slice(0, 5) : [];\nconst recommendations = Array.isArray(review.recommendations)\n  ? review.recommendations.filter((item) => typeof item === 'string').slice(0, 5)\n  : [];\n\nreturn [{\n  json: {\n    approved,\n    status,\n    score,\n    coachReply,\n    provider: `groq:${$json.groqModel}`,\n    issues,\n    recommendations,\n    receivedAt: $json.receivedAt,\n    moduleId: $json.moduleId,\n    assetCount: $json.assetCount,\n    expectedAssetCount: $json.expectedAssetCount,\n    groqId: raw.id || null\n  }\n}];"
      },
      "id": "Code_Parse_Groq_Review",
      "name": "Parse Groq Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "Respond_Exercise_Review",
      "name": "Respond Exercise Review",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1720,
        280
      ]
    }
  ],
  "connections": {
    "Webhook Exercise Review In": {
      "main": [
        [
          {
            "node": "Normalize Exercise Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Exercise Payload": {
      "main": [
        [
          {
            "node": "Build Groq Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Groq Request": {
      "main": [
        [
          {
            "node": "Call Groq Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Groq Vision": {
      "main": [
        [
          {
            "node": "Parse Groq Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Groq Review": {
      "main": [
        [
          {
            "node": "Respond Exercise Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "template": "seve-pedago-exercise-review-groq-v1"
  }
}
